


.table1 {
    width: 500px;
    height: 80px;
    border: solid blue;
    text-align: center;
}

.table2 {
    border: solid blue;
    width: 500px;
    height: 80px;
    text-align: center;
}

.table3 {
    border: solid blue;
    width: 500px;
    height: 80px;
    text-align: center;
}


.table4 {
    border: solid red;
    width: 500px;
    height: 80px;
    text-align: center;
}
#triangle {
    display: block;
    margin: auto;
    width: 50%;
}

hr {
    color: blue;
    background-color: blue;
    height: 5px;
}
